<!--
<div class="panel panel-default">
-->
	<div class="panel-body">
		<p><strong><%= comment.author %></strong> said:</p>

		<!--
		<blockquote>
		-->
			<%= comment.body %>
		<!--
		</blockquote>
		-->
	</div>
<!--
</div>
-->
<!--
<br>

<%= comment.body %>
-->